<div class="row">
    <div class="col-xs-12">

        <input  type="text" [(ngModel)]="filteredName" placeholder=" Filter by Name" style="margin-left: 10% ;margin-bottom: 20px;">
        <input *ngIf="settingSearch" type="text" [(ngModel)]="filteredNameRxjs" placeholder=" Filter by rxjs" style="margin-left: 10% ;margin-bottom: 20px;">
        <button *ngIf="settingSearch" (click)="fetchData()">Search</button>
        <div><button *ngIf="isCheckbox" class="btn"  (click)="deleteMulti()"  style="margin-left: 20px;">DeleteAll</button></div>
        <div class="">
            <table class="rwd-table">
                <tr>
                    <th>Select</th>
                    <th>Name</th>
                    <th>Stock</th>
                    <th>Description</th>
                    <th>ExpiryDate</th>
                    <th>Title</th>
                    <th></th>
                    <th>Action</th>
                </tr>
                <tr *ngFor="let productEl of products | filterPipe:filteredName ;let i=index">
                    <td><input type="checkbox" *ngIf="settingRemove" [(ngModel)]="productEl.toBeDeleted" name="name1" (change)="onChange($event)"></td>
                    <td><a style="cursor:pointer" [routerLink]="[productEl.pid]">{{productEl.name |uppercase}}</a></td>

                    <td>{{productEl.stock}}</td>
                    <td>{{productEl.description}}</td>
                    <td>{{productEl.expiryDate}}</td>
                    <td>{{productEl.heading}}</td>
                    <td><img [src]="productEl.url" alt="" style="max-height: 120px; width: 120%;"></td>
                    <td ><button *ngIf="settingEdit" class="btn" (click)="edit(productEl.pid)" style="margin-left: 10px;">Edit</button><button  class="btn" (click)="remove(productEl.pid)" style="margin-left: 10px;">Remove</button></td>
                </tr>
            </table>
        </div>
    </div>
</div> 